<div class="px-6 lg:px-14 py-8 bg-primary min-h-screen">
  <h2 class="font-mono text-2xl lg:text-4xl font-bold text-content-primary mb-6">All Books</h2>
  <div class="relative flex flex-col md:flex-row gap-6">
    <aside class="sticky self-start top-8 w-full md:w-64 md:shrink-0">
      <app-book-filters
        [search]="state.search()"
        [category]="state.category()"
        (searchChange)="state.search.set($event)"
        (categoryChange)="state.category.set($event)"
      />
    </aside>

    <main class="flex-1">
      @if (state.loading()) {
        <div class="w-full h-[90vh] px-6 lg:px-14 bg-primary">
          <div
            class="h-full rounded-lg bg-card border-dashed border-2 border-border flex items-center justify-center"
          >
            <p class="text-lg font-semibold text-content-muted">Loading...</p>
          </div>
        </div>
      } @else if (state.error()) {
        <div class="w-full h-[90vh] px-6 lg:px-14 bg-primary">
          <div
            class="h-full rounded-lg bg-card border-2 border-border flex items-center justify-center"
          >
            <p class="text-lg font-semibold text-content-muted">Error occurred</p>
          </div>
        </div>
      } @else if (state.books().length === 0) {
        <div class="w-full h-[90vh] px-6 lg:px-14 bg-primary">
          <div
            class="h-full rounded-lg bg-card border-2 border-border flex items-center justify-center"
          >
            <p class="text-lg font-semibold text-content-muted">No books found</p>
          </div>
        </div>
      } @else {
        <app-books-grid [books]="state.books()" />

        @if (state.totalPages() > 1) {
          <div class="flex items-center justify-center gap-4 mt-8">
            <app-button
              variant="outline"
              [disabled]="!state.hasPrev()"
              (clicked)="state.prevPage()"
            >
              Previous
            </app-button>

            <span class="text-lg text-content-secondary">
              Page {{ state.page() }} of {{ state.totalPages() }}
            </span>

            <app-button
              variant="outline"
              [disabled]="!state.hasNext()"
              (clicked)="state.nextPage()"
            >
              Next
            </app-button>
          </div>
        }
      }
    </main>
  </div>
</div>
