@if (isLoggedIn() && books().length > 0 && !loading()) {
  <section class="bg-primary py-8 px-6 lg:px-14">
    <div class="flex items-center justify-between mb-5">
      <h2 class="font-mono text-2xl lg:text-4xl font-bold text-content-primary">My List</h2>
      <div class="flex items-center gap-4 text-content-secondary">
        <button (click)="prev()" class="w-8 h-8 cursor-pointer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m15 18-6-6 6-6" />
          </svg>
        </button>
        <button (click)="next()" class="w-8 h-8 cursor-pointer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="m9 18 6-6-6-6" />
          </svg>
        </button>
      </div>
    </div>

    <div class="relative">
      <swiper-container
        #swiperRef
        slides-per-view="1"
        space-between="20"
        breakpoints='{"480": {"slidesPerView": 2}, "640": {"slidesPerView": 3}, "768": {"slidesPerView": 4}, "1280": {"slidesPerView": 5}, "1536": {"slidesPerView": 6}, "1920": {"slidesPerView": 8}}'
      >
        @for (book of books(); track book.id) {
          <swiper-slide class="h-[450px]">
            <app-book-card [book]="book" />
          </swiper-slide>
        }
      </swiper-container>
    </div>
    <div class="flex justify-center mt-5">
      <app-button href="/my-list">See All</app-button>
    </div>
  </section>
} @else if (isLoggedIn() && loading()) {
  <section class="bg-primary py-8 px-6 lg:px-14">
    <div class="flex items-center justify-between mb-5">
      <h2 class="font-mono text-2xl lg:text-4xl font-bold text-content-primary">My List</h2>
    </div>

    <div class="relative">
      <swiper-container
        #swiperRef
        slides-per-view="1"
        space-between="20"
        breakpoints='{"480": {"slidesPerView": 2}, "640": {"slidesPerView": 3}, "768": {"slidesPerView": 4}, "1280": {"slidesPerView": 5}, "1536": {"slidesPerView": 6}, "1920": {"slidesPerView": 8}}'
      >
        @for (n of [1, 2, 3, 4, 5, 6]; track n) {
          <swiper-slide class="h-[450px]">
            <app-loader message="Loading your books..."></app-loader>
          </swiper-slide>
        }
      </swiper-container>
    </div>
  </section>
} @else if (isLoggedIn() && error()) {
  <section class="bg-primary py-8 px-6 lg:px-14">
    <div class="flex items-center justify-between mb-5">
      <h2 class="font-mono text-2xl lg:text-4xl font-bold text-content-primary">My List</h2>
    </div>

    <div class="h-[450px]">
      <app-loader message="Error loading books."></app-loader>
    </div>
  </section>
} @else if (books().length <= 0) {
  <section class="bg-primary py-8 px-6 lg:px-14">
    <div class="flex items-center justify-between mb-5">
      <h2 class="font-mono text-2xl lg:text-4xl font-bold text-content-primary">My List</h2>
    </div>

    <div class="h-[450px]">
      <app-loader message="Your list is empty."></app-loader>
    </div>
  </section>
}
