<section class="relative w-full h-[70vh] md:h-[80vh] overflow-hidden bg-primary">
  @for (book of books(); track book.id; let i = $index) {
    <div
      class="absolute inset-0 transition-opacity duration-700 flex items-end md:items-center"
      [class.opacity-100]="currentIndex() === i"
      [class.opacity-0]="currentIndex() !== i"
    >
      <img
        [src]="getImageUrl(book)"
        [alt]="book.title"
        class="absolute inset-0 w-full h-full object-cover"
      />

      <div
        class="absolute inset-0 md:hidden"
        style="
          background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.95) 0%,
            rgba(0, 0, 0, 0.5) 45%,
            transparent 100%
          );
        "
      ></div>
      <div
        class="absolute inset-0 hidden md:block"
        style="
          background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0.4) 65%,
            transparent 100%
          );
        "
      ></div>

      <div
        class="relative flex flex-col items-start justify-end gap-3 md:gap-6 2xl:gap-10 px-6 pb-12 md:pl-14 md:pb-0 2xl:pl-32 w-full md:max-w-1/2 md:max-h-[600px]"
      >
        <span class="bg-accent text-white text-xs font-medium px-2.5 py-1 rounded">{{
          book.category | categoryLabels
        }}</span>
        <h1
          class="font-mono text-3xl sm:text-4xl md:text-6xl 2xl:text-8xl font-bold italic text-content-primary leading-tight"
        >
          {{ book.title }}
        </h1>
        <p
          class="text-content-secondary text-sm sm:text-base md:text-lg 2xl:text-2xl mb-1 line-clamp-3 md:line-clamp-none"
        >
          {{ book.description | descriptionLength: 150 }}
        </p>
        <app-button variant="primary" (clicked)="navigateToBook(book.id)"> Read more </app-button>
      </div>
    </div>
  }

  <div class="absolute bottom-0 left-0 w-full h-2 hover:h-6 bg-white/30 flex transition-all z-10">
    @for (book of books(); track book.id; let i = $index) {
      <button
        (click)="goToSlide(i)"
        class="w-full cursor-pointer hover:bg-white/35"
        [class.bg-accent]="currentIndex() === i"
        [class.animation-fill]="currentIndex() === i"
      ></button>
    }
  </div>
</section>
